body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
  margin: 0;
}
.calculator{
  border: 2px solid #333;
  border-radius: 5px;
  padding: 20px;
  background-color: #f0f0f0;
}
table{
  width: 100%;
  text-align: center;
  border: 1px solid #ccc;
}
td{
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}
/* #screen{
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border: none;
  background-color: #fff;
  text-align: right;
} */
input[type="text"] { 
  width: 95%;
  padding: 10px;
  font-size: 24px;
  border: none;
  text-align: right;
  background-color: #fff;
} 