.code{
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
  margin: 10px;
}

section{
  float: left;
  width: 59%
}
aside{
  float: right;
  width: 20%;
}
footer{
  clear: both;
  margin-bottom: 0;
}
